
```{=html}

<% for (const item of items) { %>

<h2><%- item.category %></h2>

<div class="container">

<% for (const tile of item.tiles) { %>
  
  <div class="tile" <%= metadataAttrs(tile) %>>
    <img src="<%- tile.image %>" class="image">
    <h2 class="h2"><%= tile.title %></h2>
    
    <p class="p"><%= tile.description %></p>
    
    <div class="card-header py-1 px-2 border-bottom bg-light">
      <small class="card-text inline-block">
        
        &nbsp;
        
        <% if (tile.github) { %> 
        <a href="<%- tile.github %>" title="GitHub page" 
          class="source-code card-text float-beginning inline-block">
          <i class="bi-github"></i></a>
        <% } %>
        
        &nbsp;
        
        <% if (tile.site) { %> 
        <a href="<%- tile.site %>" title="Main site" 
          class="source-code card-text float-beginning inline-block">
          <i class="bi-globe"></i></a>
        <% } %>
        
        &nbsp;
        
        <% if (tile.group) { %> 
        <a href="<%- tile.group %>" title="Group site" 
          class="source-code card-text float-beginning inline-block">
          <i class="bi-people-fill"></i></a>
        <% } %>
        
        &nbsp;
        
        <% if (tile.article) { %> 
        <a href="<%- tile.article %>" title="View publication" 
          class="source-code card-text float-beginning inline-block">
          <i class="bi-journal-text"></i></a>
        <% } %>
        
        <p class="p"><%= tile.topic %></p>
        
      </small>
    </div>
    
  </div>

<% } %>

</div>
<% } %>

```